.bac {
    width: 100%; /* Asegura que ocupe el 100% del ancho */
}
.sale3{
    display:flex;
    width: 300px;
    padding: 20px;
    margin: 20px;
    margin-top: 0%;
    margin-right: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f8f9fa;
    /*Colordefondo-puedesajustarsegúntupreferencia*/-webkit-border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}
.forma{
    width: 100%;
}



/* Media query para dispositivos móviles */
@media (max-width: 768px) {
    .bac {
        margin-top: 30%;
        width: 100%; /* Ajusta el ancho al 100% en dispositivos móviles */
    }
    .sale3{
        width: 93%;
    }
    .forma{
        width: 100%;
    }
    
}

    
       



