card-up{
  width: 100%;
  position: grid;
  margin-top: 10%;
  margin-left: 5%;
  background-color: rgba(255,255,255,0.8);
  box-shadow: 10px 0 20px #777;
  z-index: -100;
  border-radius: 7px;
  -webkit-border-radius:;
  -moz-border-radius:;
  -ms-border-radius:;
  -o-border-radius:;
}
img{
  width: 100%;
}
/* Media query para pantallas pequeñas (hasta 600px) */
@media screen and (max-width: 600px) {
    card-up{
        width: 100%;
        margin-top: 14%;
    }
    
}

