.atg{
    
  padding-right: 1%;
  margin-top: 0%;
  padding-top: 2%;
 
}

.tg {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  
}
.flex-end{
  display: flex;
  padding-left: 10%;
  flex: content;
  justify-content: flex-end;
  align-items: flex-end;
}
.addToCartButton {
  margin-top: 0%; /* Puedes ajustar el valor según sea necesario */
}
.addToCartButton button {
  margin-top: 10%;

  background-color: #4caf50; /* Color de fondo verde */
  color: #fff; /* Color de texto blanco */
  padding: 10px 15px; /* Ajusta el espaciado interno */
  border: none; /* Elimina el borde */
  border-radius: 5px; /* Agrega bordes redondeados */
  cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
  font-size: 14px; /* Tamaño de la fuente */
}

.addToCartButton button:hover {
  background-color: #45a049; /* Cambia el color de fondo al pasar el mouse */
}
.contador {
    display: flex;
    align-items: center;


}

.contador p {
    width: 50px;
    margin: 2px;
    font-size: 13pt;
    padding-left: 9%;

}
Button button{
  display: inline-block;
  margin-top: 4%;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  background-color: #4caf50;/*Colordefondodelbotón*/
  color: #fff;/*Colordeltextodelbotón*/
  border: none;
  border-radius: 4px;/*Bordesredondeados*/
  transition: background-color 0.3s ease;/* Efecto de transición en el color de fondo */
  -webkit-transition: background-color 0.3s ease;
  -moz-transition: background-color 0.3s ease;
  -ms-transition: background-color 0.3s ease;
  -o-transition: background-color 0.3s ease;
}

Button button:hover {
  background-color: #45a049; /* Cambia el color de fondo al pasar el ratón por encima */
}
 
/* Estilos adicionales para el botón en ItemDetail */
.custom-button {
    background-color: #e74c3c; /* Cambia el color de fondo para el botón personalizado */
  }
