* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.atg2 {

  padding-right: 1%;
  margin-top: 0%;
  padding-top: 8%;


}

.tg {
  
  width: 300px;
  
  padding: 5%;
  padding-right: 4%;
  margin-bottom: 4%;
  border: 1px solid #ddd;
  background-color: rgba(255,255,255,0.8);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: -100;
  border-radius: 17px;
  -webkit-border-radius: 17px;
  -moz-border-radius: 17px;
  -ms-border-radius: 17px;
  -o-border-radius: 17px;flex-direction: column;
  align-items: flex-start;

}

.flex-end {
  display: flex;
  padding-left: 0%;
  flex: content;
  justify-content: left;
  align-items: flex-end;
}

.addToCartButton {
  margin-top: 0%;
  /* Puedes ajustar el valor según sea necesario */

}

.addToCartButton button {
  display: inline-block;

  margin-top: 10%;
  background-color: #4caf50;
  /*Colordefondoverde*/
  color: #fff;
  /*Colordetextoblanco*/
  padding: 10px 15px;
  /*Ajustaelespaciadointerno*/
  border: none;
  /*Eliminaelborde*/
  border-radius: 5px;
  /*Agregabordesredondeados*/
  cursor: pointer;
  /*Cambiaelcursoralpasarsobreelbotón*/
  font-size: 14px;
  /* Tamaño de la fuente */
  
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.addToCartButton button:hover {
  background-color: #45a049;
  /* Cambia el color de fondo al pasar el mouse */
}

.contador {
  display: flex;
  align-items: center;


}

.contador p {
  width: 50px;
  margin: 2px;
  font-size: 13pt;
  padding-left: 9%;

}

/* Estilos adicionales para el botón en ItemDetail */
.custom-button {
  background-color: #e74c3c;
  /* Cambia el color de fondo para el botón personalizado */
}


/* Media query para pantallas pequeñas (hasta 600px) tamaños card interiores */
@media screen and (max-width: 600px) {

  .atg2{
    padding-top: 12%;
    margin-top: 0%;
    padding-left: 0%;
    padding-right: 10%;


  }

  .tg {
    
    width: 100%;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
  }
  .addToCartButton button {
    display: inline-block;
    width: 170px;
  }
  .contador {
    display: flex;
    align-items: center;
    padding-right: 28%;
  
  
  }
}